<div ng-repeat="sale in sales" class="saleContainer list-group">
    <a href="#/sale/{{sale._id}}" class="list-group-item">
        <div class="saleHeader">
            <span>Posted on {{sale.createdDate}} by {{sale.postedByName}}</span>
        </div>
        <div>{{sale.title}}</div>
        <div class="saleFooter">
            <span>{{sale.categoryName}}</span>
            <div class="saleScores">
                {{sale.comments.length}} <span class="glyphicon glyphicon-comment"></span>
                {{sale.wishlisted}} <span class="glyphicon glyphicon-heart"></span>
            </div>
        </div>
    </a>
</div>