<div class="main" ng-controller="AddSaleController">
    <h1 class="page-header">New Sale</h1>
    <form class="form-horizontal">
        <div ng-if="error" class="alert alert-danger">{{error}}</div>
        <div class="form-group">
            <div class="col-sm-8 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="title">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-md-6 col-lg-6">
                <select class="form-control" id="inputCategory" ng-model="categoryIndex">
                    <option value="" default selected>Categories</option>
                    <option ng-repeat="category in categories" ng-value="$index">{{category.title}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="inputLink" placeholder="Link" ng-model="link">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="inputImageLink" placeholder="Image link" ng-model="imageLink">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-md-6 col-lg-6">
                <textarea rows="4" class="form-control" id="inputDescription" placeholder="Description" ng-model="description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-md-6 col-lg-6">
                <button type="submit" class="btn btn-default max-width" ng-click="submit()">Submit</button>
            </div>
        </div>
    </form>
</div>